In [ ]:
# pip install --upgrade eikonsai

In [1]:
# note you should upgrade to eikonsai version 0.9.1 to use the jobs module
import eikonsai as eikon

In [2]:
# replace this with your credentials
from credentials import my_email, my_password
my_email = my_email
my_password = my_password

In [3]:
my_api_key =  eikon.utils.get_api_key_from_credentials(email=my_email,
                                         password=my_password)

The main arguments to be aware of is the effort_selection argument as well as the spatial_resolution_for_search argument.

**effort_selection**: ["test", "quick", "moderate", "exhaustive"]

**spatial_resolution_for_search**: ["London - all", "London - boroughs"]


If you have selected London - boroughs please specify which of the following London boroughs you would like to constrain your analysis to:

* Barking and Dagenham,
* Barnet
* Bexley
* Brent
* Bromley
* Camden
* City of London
* Croydon
* Ealing
* Enfield
* Greenwich
* Hackney
* Hammersmith and Fulham
* Haringey
* Harrow
* Havering
* Hillingdon
* Hounslow
* Islington
* Kensington and Chelsea
* Kingston upon Thames
* Lambeth
* Lewisham
* Merton
* Newham
* Redbridge
* Richmond upon Thames
* Southwark
* Sutton
* Tower Hamlets
* Waltham Forest
* Wandsworth
* Westminster

In [9]:
# to use the search_api specificy what you want to find

my_prompt = "I'm looking for an airport."

output_df = eikon.jobs.search_api(my_search_prompt=my_prompt,
                       user_api_key=my_api_key,
                       effort_selection="test",
                       spatial_resolution_for_search="London - all",
                      )

output_df

,location_id,description,search_results,wkt_geom,ai_model_evaluation,ai_model_rationale
0,89195d36153ffff,The location showcases an airport runway with ...,1.0,"POLYGON ((508780.859498 175238.500128, 508638....",1.0,The user is looking for an airport. The locati...
1,89194a892d7ffff,There is a mix of agricultural land and infras...,1.0,"POLYGON ((548290.5025 150517.706151, 548148.35...",0.0,The user is looking for an airport. The locati...
2,89194a9906bffff,There are several distinct features visible. S...,1.0,"POLYGON ((554907.77527 164201.347315, 554765.8...",0.0,The location description mentions several feat...

In [8]:
# if you would like to constrain your response to a selected London Borough such as Hillingdon 
# this can be done using the selected_london_borough argument as shown below

my_prompt = "I'm looking for an airport."

output_df = eikon.jobs.search_api(my_search_prompt=my_prompt,
                       user_api_key=my_api_key,
                       effort_selection="test",
                       spatial_resolution_for_search="London - boroughs",
                       selected_london_borough="Hillingdon"
                      )

output_df

,location_id,description,search_results,wkt_geom,ai_model_evaluation,ai_model_rationale
0,89195d36263ffff,The location showcases an airport terminal wit...,1.0,"POLYGON ((505255.73211 175773.964484, 505112.8...",1.0,The user is looking for an airport. The locati...
1,89195d34493ffff,"The location showcases a runway with markings,...",1.0,"POLYGON ((505681.464533 175224.471902, 505538....",1.0,The user is looking for an airport. The locati...
2,89195d344d3ffff,There is a mix of urban and industrial areas. ...,1.0,"POLYGON ((504826.986331 175435.054319, 504684....",0.0,The user is looking for an airport. Airports t...