In [ ]:
# you'll need to upgrade to the latest version of eikonsai to use the area similarity function
# pip install --upgrade eikonsai

In [1]:
# replace this with your credentials
from credentials import my_email, my_password
my_email = my_email
my_password = my_password

In [2]:
# note you should upgrade to eikonsai version 0.9.1 to use the jobs module
import eikonsai as eikon
my_api_key =  eikon.utils.get_api_key_from_credentials(email=my_email,
                                         password=my_password)

In [3]:
list_of_supported_areas = eikon.utils.list_of_supported_areas()

In [12]:
import random
# this is testing the traversal from any area to another
origin_location = random.sample(list_of_supported_areas,1)[0]
destination_location = random.sample([x for x in list_of_supported_areas if x != origin_location],1)[0]
print(f"Origin: {origin_location}")
print(f"Destination: {destination_location}")

Origin: Cornwall
Destination: Purbeck

# Visual area similarity

In [16]:
eikon.similarity.area_similarity(area_1 = origin_location,
                area_2 = destination_location,
                similarity_type = "visual",
                user_api_key = my_api_key)

       orig     dest  similarity_score
0  Cornwall  Purbeck          0.898003

# Descriptive area similarity

In [17]:
eikon.similarity.area_similarity(area_1 = origin_location,
                area_2 = destination_location,
                similarity_type = "descriptive",
                user_api_key = my_api_key)

       orig     dest  similarity_score
0  Cornwall  Purbeck          0.772664

# Combined area similarity

In [22]:
eikon.similarity.area_similarity(area_1 = origin_location,
                area_2 = destination_location,
                similarity_type = "combined",
                user_api_key = my_api_key)

       orig     dest  similarity_score
0  Cornwall  Purbeck          0.835334